blabla

  // INJECT-SCRIPTS-START[default]
  // INJECT-SCRIPTS-END[default]

// INJECT-CSS-START[default]
// INJECT-CSS-END[default]


    // VIEW-CONTRIBUTION-START[myview]
    // VIEW-CONTRIBUTION-END[myview]

blabla